[Desktop Entry]
Name=Lxde setting
Exec=/usr/bin/python3 /usr/share/lxdesetting/setting
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
Path=/home/snereid/Desktop
GenericName=Lxde Settings
Icon=preferences-desktop
