[Desktop Entry]
Name=Lxde setting
Exec=/usr/bin/python3 /usr/share/lxdesetting/setting.py
Terminal=false
Type=Application
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
Path=/usr/share/lxdesetting
GenericName=Lxde Settings
Icon=preferences-desktop
